.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 111%;
    z-index: -1;
}

#home h1{
    position: relative;
    top: 0.7rem;
}

#home p{
    margin: 1px 0px;
    font-size: 1rem;
    display: block;
    width: 190px;
}

#home::before{
    content: "";
    background: url("images/bg.jpg") no-repeat center center/cover;
    position: absolute;
    height: 600px;
    width: 111%;
    z-index: -1;
}

.btn{
    padding: 5px 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 9px;
    background-color: brown;
    font-size: 0.9rem;
    width: 5.5rem;
    margin-top: 17px;
}

.h-primary{
    font-size: 1.8rem;
}

.h-secondary{
    font-size: 1.4rem;
}

#services .box{
    font-size: 1rem;
}

#services-container::before{
    content: "";
    position: absolute;
    background: url("images/bg5.jpg")no-repeat center center/cover;
    width: 111%;
    height: 178%;
    opacity: 0.65;
    z-index: -1;
}

#clients-container::before{
    content: "";
    position: absolute;
    background: url("images/bg4.jpg")no-repeat center center/cover;
    width: 111%;
    height: 275%;
    opacity: 0.65;
    z-index: -5;
}

#contact .form #submit{
    font-size: 10px;
    width: 20%;
}