#home h1{
    position: relative;
    top: 0.9rem;
}

#home p{
    margin: 1px 0px;
    font-size: 1.2rem;
    display: block;
    width: 275px;
}

.btn{
    padding: 5px 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 9px;
    background-color: brown;
    font-size: 1.2rem;
    width: 8rem;
    margin-top: 17px;
}

.h-primary{
    font-size: 2.2rem;
}

.h-secondary{
    font-size: 1.5rem;
}