@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600&family=Bree+Serif&family=Ubuntu&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root{

}

/* html{
    background: linear-gradient(white,rgb(255, 201, 192));
} */

/* Navigation Bar */
.navbar{
    position: relative;
    display: flex;
    align-items: center; /*vertically center*/
    /* justify-content: center; - horizontally center */
}

/* Navigation Bar : Logo */
#logo{
    margin: 10px 15px;
}
#logo img{
    height: 57px;
    width: 55px;
}

#user img{
    position: absolute;
    right: 15px;
    top: 6px;
    height: 55px;
    width: 55px;
    background-color: white;
    border-radius: 100px;
}

#signin{
    position: absolute;
    right: 17px;
    top: 57px;
    font-size: 1rem;
    font-family: 'baloo bhai 2';
}

#signin:hover{
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

/* Navigation Bar : List Items */
.navbar ul{
    display: flex;
}

.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.navbar ul li{
    font-size: 1.3rem;
    list-style: none;
}

.navbar ul li a{
    display: block; /*it is blocked to give padding*/
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'baloo bhai 2';
}

.navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home - Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#home::before{
    content: "";
    background: url("images/bg.jpg") no-repeat center center/cover;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.69;
}

#home h1{
    position: relative;
    top: 0.9rem;
    color: rgb(0, 0, 0);
    font-family: 'bree serif';
    text-shadow: 7px 7px 5px rgb(255, 255, 255);
}

#home p{
    margin: 20px 0px;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: 'Bree Serif';
    text-align: center;
    text-shadow: 5px 5px 4px rgb(255, 255, 255);
}

/* Services - Section */

#services-container{
    margin-top: 140px;
}
#services{
    display: flex;
    margin: 3px 15px;
}

#services .box{
    margin: 0.625rem;
    border-radius: 28px;
    border: 2px solid brown;
    padding: 1rem;
    background-color: rgb(240, 235, 235);

}
#services div img{
    height: 12.5rem;
    width: 12.5rem;
    margin: auto;
    display: block;
}

#services .box{
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#services:hover>.box{
    opacity: 0.7;
    transform: scale(0.87);
}

#services>.box:hover{
    opacity: 1;
    transform: scale(1.056);
}

/* #services #thali{
    height: 205px;
    width: 300px;
} */

/* Utility Classes */
.h-primary{
    font-size: 3.7rem;
    padding: 12px;
    font-family: 'Bree serif';
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
    text-align: center;
}

.btn{
    padding: 6px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 9px;
    background-color: brown;
    font-size: 1.4rem;
    margin-top: 17px;
    opacity: 1;
    color: white;
}

.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Bree serif';
    font-weight: 100;
}

.center{
    text-align: center;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(189, 70, 70);
    box-shadow: 3px 3px 5px 1px rgb(255, 145, 126);
    /* opacity: 0.85; */
}

/* Clients - Section */
#client-container{
    margin-top: 90px;
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients img{
    width: 11.5rem;
    height: 10rem;
    margin: 1.2rem;
    
}
.client-items{
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.clients:hover .client-items{
    opacity: 0.8;
    transform: scale(0.9);
}

.clients>.client-items:hover{
    transform: scale(1.2);
    opacity: 1;
}

#services-container::before{
    content: "";
    position: absolute;
    background: url("images/bg5.jpg")no-repeat center center/cover;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
}

#clients-container::before{
    content: "";
    position: absolute;
    background: url("images/bg4.jpg")no-repeat center center/cover;
    width: 100%;
    height: 170%;
    opacity: 0.65;
    z-index: -5;
    margin-top: 103px;
}

#contact form{
    display: table;
}

#contact form p{
    display: table-row;
    font-weight: bold;
}

#contact form label,input,textarea{
    display: table-cell;
    
}
#contact .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .form input {
    margin-left: 20px;
    margin: 8px 10px;
    padding: 5px 9px;
    width: 80%;
    height: 5%;
    border: 2px solid brown;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
}

#contact .form textarea {
    width: 80%;
    font-size: 1.2rem;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 5px 9px;
    margin-left: 1.3%; 
    background-color: rgb(255, 255, 255);
}

#contact .form #submit{
    border-radius: 20px;
    width: 9%;
    color: rgb(255, 255, 255);
    background-color: tomato;
    display: block;
    margin: auto auto;
    font-size: 1.1rem;
    text-align: center;
    padding: 2px 12px;
}

#contact .form #submit:hover{
    background-color: rgb(243, 133, 114);
    cursor: pointer;
}


#contact .form label{
    font-size: 1.4rem;
    font-family: 'baloo bhai 2';
    text-shadow: 2px 2px 2px white;
}

#copy-footer .copy{
    font-size: 1.3rem;    
    text-align: center;
    margin-top: 100px;
    font-family: 'baloo bhai 2';
}